<div class="col-md-8">
  <div class="row">
    <h1>My Account</h1>
    <hr>
    <h3>Current Status: <%= current_user.role.capitalize %></h3>
    <br>
      <%= form_tag charges_path do %>
      <% if current_user.role == 'premium' %>
          <p>Downgrading your account will restrict access to private wikis, and any private wikis you have created will be made public.</p>
          <br>
          <%= link_to "Downgrade Account", @charge, method: :delete, class: 'btn btn-delete', data: { confirm: 'Are you sure you want to downgrade your account?' } %>
        <% elsif current_user.role == 'standard' %>
          <h4>Upgrade to Premium</h4>
          <p>A fee of $15 will give access to private wikis.</p>
          <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
